/* Color Theme For Dark mode */
body.dark {
  --primary-color: #111827;
  --primary-color-shade: #4b5563;
  --primary-color-light: #9c9c9c;
  --off-white: #e5e7eb;
  --dark-gray: #374151;
  --plain-white-form-color: #333;
  color: #d1d5db;
  background-color: #535353;
}
/* dark mode for meme-view-container */
.meme-view-container.dark {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
  background-color: #373737;
  transition: 0.3s;
}
.meme-view-container.dark:hover,
.meme-view-container.dark:focus {
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 50%);
  background-color: #1d1d1d;
  /* filter: blur(2px); */
  transition: background-color 0.5s ease-in-out;
}

.wrapper.dark {
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 50%);
}