:root {
    --text-color-default: var(--off-white);
}

.navigation {
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--off-white);
  border-bottom-left-radius: 1rem;
}
.navigation .brand {
  font-weight: bolder;
  font-size: larger;
}
.navigation ul {
  text-align: right;
}
.navigation .link-active {
  font-weight: bold;
}
.navigation .link {
  color: var(--text-color-default);
}

.footer {
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--text-color-default);
  border-top-right-radius: 1rem;
  text-align: center;
}
footer {
  display: block;
}
.container {
  margin: auto;
  padding: 1rem 1rem;
  max-width: var(--post-items-max-width);
  display: block;
}
.footer .heading {
  font-weight: bold;
  font-size: large;
  color: var(--off-white);
}
.footer ul {
  padding-inline-start: 0px;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.list-unordered {
  list-style-type: none;
}
.list-inline li {
  display: inline;
}
.footer .link {
  color: var(--off-white);
}

.link {
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  font-weight: bold;
}

.footer i {
  margin: 5px;
}