* {
  box-sizing: border-box;
}
body {
  line-height: 1.8;
  background: var(--off-white);
}
.form-container-with-preview {
  padding: 1em;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
  padding: 0;
}
/* hide element with class hidden */
.hidden {
  display: none;
}
/* shadon on form view */
.wrapper {
  box-shadow: 0 10px 16px 0 rgba(128, 0, 128, 0.5);
}

.wrapper > * {
  padding: 1em;
}
/* styles for meme-container i.e the cards */
.meme-container {
  background-color: var(--primary-color);
}
.meme-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.meme-container ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* #region FORM STYLES For Create/Update Form*/
.create-update-form {
  background: var(--plain-white-form-color);
}

.create-update-form form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}
.create-update-form form p {
  margin: 0;
}
.create-update-form form label {
  display: block;
  font-weight: 500;
}
.create-update-form form input {
  border: 1px solid var(--primary-color-light);
}
.create-update-form form button {
  background: var(--primary-color-shade);
  text-transform: uppercase;
}
.create-update-form form button,
.create-update-form form input {
  width: 100%;
  padding: 1em;
  /* border: 1px solid var(--primary-color-light); */
}
.create-update-form form button:hover,
.create-update-form form button:focus {
  background: var(--primary-color);
  color: white;
  outline: 0;
  transition: background-color 1s ease-out;
}
.create-update-form h3 {
  text-align: center;
}
/* #endregion */

/* #region Large Screen FORM STYLES For Create/Update Form */
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    /* change form view for larger screens */
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
    /* more padding on larger screens */
    padding: 2em;
  }
}
/* #endregion */

/* ==================================================================================== */

/* Displaying Meme Cards CSS */
.parent-meme-view-container {
  padding: 2em;
  margin: 2em;
  margin-top: 0em;
  max-width: 1170px;
}
.meme-post-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
  column-gap: 1em;
  justify-content: center;
  /* align-items: end; */
}

.meme-post-wrapper > * {
  padding: 0.5em;
}

.meme-view-container {
  /* border: 1px dotted var(--primary-color); */
  padding-bottom: 0;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(128, 0, 128, 0.5);
  transition: 0.3s;
  outline: none;
  border: none;
  max-width: 350px;
}
.meme-view-container img {
  background: var(--primary-color-light);
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--post-items-max-width);
  max-height: var(--post-items-max-height);
  object-fit: contain;
  width: var(--post-items-width);
  height: var(--post-items-height);
}
.meme-view-container ul {
  text-align: center;
  margin: 0 0 0rem 0;
}

.meme-view-container:hover,
.meme-view-container:focus {
  box-shadow: 0 10px 16px 0 rgba(128, 0, 128, 0.5);
  background-color: var(--primary-color-shade);
  /* filter: blur(2px); */
  transition: background-color 0.5s ease-in-out;
}
/* .meme-view-container .edit-meme-btn {
  padding: 0.2em;
  background: var(--primary-color-shade);
  margin: 0 0 0.6em 0;
}

.meme-view-container .edit-meme-btn button {
  text-align: center;
  background: var(--primary-color-shade);
  font-weight: 790;
  text-transform: uppercase;
  width: 100%;
}
.edit-meme-btn:hover,
.edit-meme-btn:focus {
  background-color: var(--primary-color);
  transition: background-color 2s ease-out;
}
.edit-meme-btn:hover button,
.edit-meme-btn:focus button {
  color: white;
}

.meme-view-container .edit-meme-btn button {
  background: unset;
  outline: none;
} */

/* captions and buttons */
.meme-author {
  height: 2em;
  margin-bottom: 0;
}
.meme-caption {
  line-height: 1.2;
  height: 5em;
  margin-top: 0em;
}
.meme-caption span {
  font-size: small;
}
.meme-author,
.meme-caption {
  /* height: 2em; */
  padding-left: 1em;
  text-align: left;
}

/* #region Large Screen */
@media (min-width: 768px) {
  .meme-post-wrapper {
    /* border: 1px solid black; */
    grid-template-columns: 1fr 1fr;
    /* column-gap: 1em; */
  }
}

@media (min-width: 970px) {
  .parent-meme-view-container {
    max-width: 100%;
  }
  .meme-post-wrapper {
    /* border: 1px solid black; */
    grid-template-columns: 1fr 1fr 1fr;
    /* column-gap: 1.2em; */
  }
}
/* #endregion */

/* #region  rounded-corners */

/* adding rounded corners */
.rounded-corners {
  border-radius: 1em;
}

.meme-view-container:hover,
.meme-view-container:focus {
  transform: scale(1.02);
}

.rounded-corners:hover,
.rounded-corners:active {
  transform: scale(1.035);
}
/* Hand on hover */
.create-meme-iframe-link:hover,
.create-meme-iframe-link:focus,
.edit-meme-btn button:hover,
.edit-meme-btn button:focus,
.edit-meme-btn button:active,
.create-update-form form p button:active,
.create-update-form form p button:focus,
.create-update-form form p button:hover {
  cursor: pointer;
}
/* #endregion */

/* #region  notification message and helpers */
.helper-icon {
  display: inline-flex;
  align-items: center;
  height: 32px;
  padding: 0 12px;
  font-weight: 500;
  color: var(--text-color-default);
  background-color: rgb(21, 21, 21);
  cursor: pointer;
  border: 1px solid rgb(52, 52, 52);
  border-radius: 4px;
  text-decoration: none;
  -moz-osx-font-smoothing: antialiased;
  z-index: 99999999999;
}

.helper-icon-wrapper {
  position: fixed;
  margin: 0;
  padding: 0;
  border: none;
  width: 50px;
  height: 36px;
  z-index: 9999999999999;
}

.helper-icon-top {
  top: 10px;
  right: 10px;
}
.helper-icon-bottom {
  bottom: 10px;
  right: 0px;
  -webkit-text-fill-color: var(--off-white);
}
#meme-notification {
  display: none;
  width: auto;
}
.helper-icon-bottom i {
  padding: 0.2em;
}
/* #endregion */

.toggle-theme svg:hover,
.toggle-theme svg:active {
  cursor: pointer;
}

.image-to-edit:hover,
.image-to-edit:focus {
  /* filter: blur(1px); */
}

/* #region  .meme-view-container-form */

.meme-view-container-form {
  max-width: unset;
}
.meme-view-container-form:hover {
  box-shadow: none;
}
.meme-view-container-form {
  border-radius: none;
  box-shadow: none;
  transition: none;
}

/* #endregion */

